<ess-orders-list-table
    *ngIf="orders$ | async as orders"
    [orders]="orders"
    title="Активные заявки"
>
    <div note class="note">
        * Отображаются заявки в статусе
        <ng-container *ngFor="let status of activeStatuses; let i = index">
            <ess-order-status-badge class="status" [status]="status"></ess-order-status-badge>
            {{i < activeStatuses.length - 2 ? ',' : null}}
            {{i === activeStatuses.length - 2 ? 'и' : null}}
        </ng-container>
        .
    </div>
</ess-orders-list-table>
