/* You can add global styles to this file, and also import other style files */
@import './styles/index.scss';

html {
    font-size: 14px;
    font-family: var(--font-family);
}

body {
    background-color: var(--surface-ground);
}

html, body {
    height: 100%;
}
