<ess-table [dataset]="supplies" [columns]="columns">
    <ng-container *essCell="'pieceCost'; let supply">
        {{supply.pieceCost | essCurrency}}
    </ng-container>
    <ng-container *essCell="'availableAmount'; let supply">
        {{supply.availableAmount}} / {{supply.totalAmount}}
    </ng-container>
    <ng-container *essCell="'supplyDate'; let supply">
        {{supply.supplyDate | date: "short"}}
    </ng-container>
    <div *essCell="'actions'; width: '69px'; let supply" class="actions-wrapper">
        <button tuiIconButton type="button" appearance="flat" icon="tuiIconEditLarge" size="s"
            shape="rounded" routerLink="/admin/supply/{{supply.id}}"></button>
        <button tuiIconButton type="button" appearance="danger" icon="tuiIconTrashLarge" size="s"
            shape="rounded" (click)="onDelete(supply.id)" *ngIf="supply.availableAmount === supply.totalAmount"></button>
    </div>
</ess-table>
