<tui-scrollbar class="table-scrollbar">
    <table tuiTable [columns]="tableFields" size="l" class="table">
        <thead>
            <tr tuiThGroup>
                <ng-container *ngFor="let column of columns">
                    <th *tuiHead="column.columnName" tuiTh [sorter]="column.sorter" [sticky]="true">
                        {{column.title}}
                    </th>
                </ng-container>
            </tr>
        </thead>
        <tbody *tuiLet="dataset | tuiTableSort as sortedDataset" tuiTbody [data]="sortedDataset" [open]="true">
            <tr *ngFor="let item of sortedDataset" tuiTr>
                <ng-container *ngFor="let column of columns">
                    <!-- Cell tamplate -->
                    <ng-container *ngIf="cellTemplatesMap.get(column.columnName) as cellTemplate; else rawDataTemplate">
                        <td *tuiCell="$any(column.columnName)" tuiTd [style.width]="cellTemplate.width">
                            <ng-container [ngTemplateOutlet]="cellTemplate.template"
                                [ngTemplateOutletContext]="{ $implicit: item }"
                            ></ng-container>
                        </td>
                    </ng-container>

                    <!-- Simple cell value -->
                    <ng-template #rawDataTemplate>
                        <td *tuiCell="$any(column.columnName)" tuiTd>
                            {{item[column.columnName]}}
                        </td>
                    </ng-template>
                </ng-container>
            </tr>
        </tbody>
    </table>
</tui-scrollbar>
