:host {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex-grow: 1;

    main {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        @media screen and (max-width: 47.9625em) {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        ::ng-deep {
            .tui-container.tui-container_adaptive {
                padding: 0;
            }
        }
    }
}
