.success-color {
    background-color: var(--tui-support-03);
}

.danger-color {
    background-color: var(--tui-support-05);
}

.warning-color {
    background-color: var(--tui-support-07);
}

.active-color {
    background-color: var(--tui-support-01);
}

.help-color {
    background-color: var(--tui-support-09);
}

.secondary-color {
    background-color: var(--tui-base-04);
}
