.help-color {
    color: white;
    background-color: var(--purple-500);
}

.secondary-color {
    color: white;
    background-color: var(--bluegray-400);
}

.p-badge.medium-size {
    font-size: 0.8rem;
    min-width: 1.8rem;
    height: 1.8rem;
    line-height: 1.8rem;
}
