<div class="tui-container tui-container_adaptive">
    <div class="tui-form__header">
        Создать заявку
        <!-- Заполните форму, чтобы отправить заявку на обслуживание компьютерной техники -->
    </div>

    <ess-basic-order-form [form]="form"></ess-basic-order-form>

    <div class="tui-form__buttons tui-form__buttons_align_end">
        <button class="tui-form__button" tuiButton icon="tuiIconCheckLarge" (click)="submit()" [showLoader]="isLoading">Отправить заявку</button>
    </div>
</div>

