<p-card header="Создать заявку" subheader="Заполните форму, чтобы отправить заявку на обслуживание компьютерной техники"
    styleClass="p-card-shadow" class="order-card" [formGroup]="form">

    <ess-basic-order-form [form]="form"></ess-basic-order-form>

    <ng-template pTemplate="footer">
        <div class="ess-footer-buttons">
            <p-button label="Отправить заявку" icon="pi pi-check" (click)="submit()" [loading]="isLoading" [disabled]="form.invalid"></p-button>
        </div>
    </ng-template>
</p-card>
