<ng-container *ngIf="form" [formGroup]="form">
    <div class="tui-form__row">
        <tui-input formControlName="title">
            Название
            <span class="tui-required"></span>
            <input tuiTextfield type="text" />
        </tui-input>
        <tui-error formControlName="title" [error]="[] | tuiFieldError | async"></tui-error>
    </div>

    <div class="tui-form__row tui-form__row_multi-fields">
        <div class="tui-form__multi-field">
            <tui-input-number formControlName="pieceCost" postfix=" р.">
                Цена за шт.
                <span class="tui-required"></span>
            </tui-input-number>
            <tui-error formControlName="pieceCost" [error]="[] | tuiFieldError | async"></tui-error>
        </div>
        <div class="tui-form__multi-field">
            <tui-input-count formControlName="totalAmount" [min]="1">
                Количество
            </tui-input-count>
            <tui-error formControlName="totalAmount" [error]="[] | tuiFieldError | async"></tui-error>
        </div>
    </div>
</ng-container>
