<ng-container *ngIf="form" [formGroup]="form">
    <div class="tui-form__row">
        <tui-input formControlName="title">
            Название
            <span class="tui-required"></span>
            <input tuiTextfield type="text" />
        </tui-input>
        <tui-error formControlName="title" [error]="[] | tuiFieldError | async"></tui-error>
    </div>

    <div class="tui-form__row">
        <tui-input-number formControlName="cost" postfix=" р.">
            Стоимость
            <span class="tui-required"></span>
        </tui-input-number>
        <tui-error formControlName="cost" [error]="[] | tuiFieldError | async"></tui-error>
    </div>
</ng-container>
