<ng-container *ngIf="form" [formGroup]="form">
    <div class="tui-form__row_multi-fields">
        <div class="tui-form__multi-field">
            <tui-input formControlName="clientName">
                Ваше имя
                <span class="tui-required"></span>
                <input tuiTextfield type="text" />
            </tui-input>
            <tui-error formControlName="clientName" [error]="[] | tuiFieldError | async"></tui-error>
        </div>
        <div class="tui-form__multi-field">
            <tui-input-phone formControlName="phoneNumber" countryCode="+375"
                phoneMaskAfterCountryCode="(##) ###-##-##">
                Номер телефона
                <span class="tui-required"></span>
                <input tuiTextfield autocomplete="tel" />
            </tui-input-phone>
            <tui-error formControlName="phoneNumber" [error]="[] | tuiFieldError | async"></tui-error>
        </div>
    </div>
    <div class="tui-form__row">
        <tui-input formControlName="email">
            Электронная почта
            <input tuiTextfield placeholder="example@gmail.com" type="email" />
        </tui-input>
        <tui-error formControlName="email" [error]="[] | tuiFieldError | async"></tui-error>
    </div>
    <div class="tui-form__row">
        <tui-text-area formControlName="description" [expandable]="true" [maxLength]="512">
            Описание
            <span class="tui-required"></span>
            <textarea tuiTextfield placeholder="Подробно опишите причину обращения"></textarea>
        </tui-text-area>
        <tui-error formControlName="description" [error]="[] | tuiFieldError | async"></tui-error>
    </div>
</ng-container>
