<ess-table [dataset]="orders" [columns]="columns">
    <ng-container *essCell="'status'; let order">
        <ess-order-status-badge [status]="order.status" size="l"></ess-order-status-badge>
    </ng-container>
    <ng-container *essCell="'email'; let order">
        <a *ngIf="order.email" tuiLink [href]="'mailto:' + order.email">
            {{ order.email }}
        </a>
    </ng-container>
    <ng-container *essCell="'createdAt'; let order">
        {{order.createdAt | date: "short"}}
    </ng-container>
    <ng-container *essCell="'updatedAt'; let order">
        {{order.updatedAt | date: "short"}}
    </ng-container>
    <ng-container *essCell="'actions'; width: 0; let order">
        <button tuiIconButton type="button" appearance="flat" icon="tuiIconEditLarge" size="s"
            shape="rounded" routerLink="/admin/order/{{order.id}}"></button>
    </ng-container>
</ess-table>
