<p-table #dt [value]="orders" [columns]="cols" dataKey="id" responsiveLayout="scroll" [rows]="3">
    <ng-template pTemplate="caption">
        <div class="table-header">
            <div class="toolbar-group">
                <h2 class="table-title">Все заявки</h2>
                <span class="separator"></span>
                <h3 class="table-count">{{orders.length}}</h3>
            </div>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Поиск" />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order>
        <tr *ngIf="orderType(order) as order">
            <td>{{statusName[order.status]}}</td>
            <td>{{order.clientName}}</td>
            <td>{{order.phoneNumber}}</td>
            <td>{{order.email}}</td>
            <td>{{order.description}}</td>
            <td>{{order.createdAt | date: "short"}}</td>
            <td>
                <p-button icon="pi pi-ellipsis-v" styleClass="action-icon p-button-text p-button-plain" (click)="onEdit(order)"></p-button>
            </td>
        </tr>
    </ng-template>
</p-table>
