<div class="header-wrapper">
    <div class="left-side">
        <img src="assets/logo.png" height="40" class="mr-2">
        <tui-tabs [(activeItemIndex)]="activeItemIndex">
            <button tuiTab routerLink="/admin/orders">
                <tui-svg src="ess::topic" class="tui-space_right-2"></tui-svg>
                Заявки
            </button>
            <button tuiTab routerLink="/admin/supplies">
                <tui-svg src="ess::inventory" class="tui-space_right-2"></tui-svg>
                Запасы
            </button>
            <button tuiTab routerLink="/admin/work">
                <tui-svg src="ess::cases" class="tui-space_right-2"></tui-svg>
                Услуги
            </button>
        </tui-tabs>
    </div>

    <button tuiButton type="button" appearance="flat" size="m" icon="tuiIconLogoutLarge" (click)="onLogOut()">
        Выйти
    </button>
</div>
