@use '@taiga-ui/core/styles/taiga-ui-local.scss' as tui;

.header-wrapper {
    @include tui.shadow(4);

    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 0 2.5rem;
    position: relative;
    z-index: 10;

    .left-side {
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    @media not screen and (max-width: 47.9625em) {
        .mobile-only {
            display: none;
        }
    }

    @media screen and (max-width: 47.9625em) {
        padding: 0 1rem;

        .desktop-only {
            display: none;
        }
    }
}

.logo {
    padding: 8px 0;
}

tui-tabs {
    box-shadow: none;
}
