<div class="tui-container tui-container_adaptive" *ngIf="analyticsData$ | async as analyticsData">
    <div class="info-cards-wrapper">
        <ess-info-card
            color="help"
            title="Выполненные заявки"
            [value]="analyticsData.completedAmount"
        ></ess-info-card>

        <ess-info-card
            color="success"
            title="Суммарная выручка"
            [value]="analyticsData.completedSum | essCurrency"
        ></ess-info-card>
    </div>

    <div class="info-cards-wrapper">
        <ess-info-card
            color="warning"
            title="Средняя стоимость заявки"
            [value]="analyticsData.averageOrderPrice | essCurrency"
        ></ess-info-card>

        <ess-info-card
            color="danger"
            title="Отмененные заявки"
            [value]="analyticsData.canceledAmount"
        ></ess-info-card>
    </div>

    <div class="charts-wrapper">
        <ess-orders-amount-in-range [data]="analyticsData.ordersAmountInRange"></ess-orders-amount-in-range>

        <ess-active-orders-amount [data]="analyticsData.activeOrdersAmount"></ess-active-orders-amount>

        <ess-orders-amount-per-period [data]="analyticsData.ordersAmountPerPeriod"></ess-orders-amount-per-period>
    </div>
</div>
