<div class="ess-card">
    <p class="tui-text_body-l title">Количество заявок за последний день/неделю/месяц</p>
    <tui-axes
        axisY="none"
        class="axes"
        [axisXLabels]="axisXLabels"
        [axisYSecondaryLabels]="axisYSecondaryLabels"
        [horizontalLines]="2"
        [verticalLines]="4"
        [horizontalLinesHandler]="horizontalLinesHandler"
        [verticalLinesHandler]="verticalLinesHandler"
    >
        <tui-bar-set
            class="chart"
            [value]="values"
            [tuiHint]="hint"
            tuiHintDirection="left"
            [tuiHintShowDelay]="0"
        ></tui-bar-set>
    </tui-axes>

    <ng-template
        #hint
        let-setIndex
    >
        <p
            *ngFor="let item of values; let index = index"
            class="hint"
        >
            <span
                class="dot"
                [style.background]="'var(--tui-chart-' + index + ')'"
            ></span>
            <span>{{ axisXLabels[index] }}</span>
            <span class="value">{{ item }}</span>
        </p>
    </ng-template>
</div>

