.ess-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: white;
    border-bottom: 1px solid var(--tui-base-04);
    border-top-left-radius: var(--tui-radius-m);
    border-top-right-radius: var(--tui-radius-m);

    &__title {
        margin: 0;
        font: var(--tui-font-heading-6);
    }

    &__count {
        color: var(--tui-primary);
        font: var(--tui-font-heading-5);
        margin: 0;
    }

    &__separator {
        display: block;
        width: 2px;
        height: 25px;
        background: var(--tui-base-04);
    }


    &__group {
        display: flex;
        height: 45px;
        align-items: center;
        position: relative;
        gap: 15px;
    }
}
